@import "tailwindcss";

body { 
    font-family: "Montserrat", sans-serif; 
    font-optical-sizing: auto; 
    background: #f5f0f0; 
    color: rgba(0,0,0,0.7) 
}

  ::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
  }

.container {
  width: 95%;
  margin: auto;
  padding: 5px;
}

.header { padding: 5px; }
input { padding: 15px; }

.link {
    font-weight: 600;
}

.link:hover {
  color: #ff5253;
  text-decoration: none;
}
.HomeSlider .swiper {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
.categorySlider .swiper {
  width: 100%;
  height: auto;
}

.categorySlider .item img{
  width: 60px !important;
  height: 60px !important;
  transition: all 0.3s ease-in-out;
} 
.categorySlider .item:hover img{
  transform: scale(1.1);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: white;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.HomeSlider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ccc;
  opacity: 1;
}

.HomeSlider .swiper-pagination-bullet-active {
  background: white;
  width: 12px;
  height: 12px;
}

.productInfo {
  text-align: left !important;
}

.ReactCollapse--collapse {
  transition: height 500ms !important;
}
.range-slider {
  height: 3px !important;
}
.range-slider .range-slider__thumb {
  width: 14px !important;
  height: 14px !important;
}